{{ "{% extends '"~ web_bundle ~"::Crud/show.html.twig' %}" }}

{{ "{% set crud_path_delete=path('" ~ route_prefix ~ ".delete', {'id': entity.id}) %}" }}
{{ "{% set delete_message='Do you really want to delete this %entity%?'|trans({'%entity%': '" ~ entity ~ "'}) %}" }}

{{ "{% block action_title %}
        {{ '%entity% %id%'|trans({'%entity%':'" ~ entity ~ "', '%id%':entity.id|type_id}) }}
        {% block delete %}{{ parent() }}{% endblock %}
{% endblock %}" }}

{{ "{% block table_body %}" }}
{% for field, metadata in fields %}
    <tr>
        {% if field in ['id'] %}
<th>{{ "{{ '" ~ field ~ "'|trans }}" }}</th>
{% else %}
<th>{{ "{{ '" ~ field ~ "'|trans({}, '" ~ entity~ "') }}" }}</th>
{% endif %}
        <td>{% spaceless %}
            {% if metadata.type in ['date', 'datetime'] %}
                {{ "{{ entity." ~ field ~ "|type_datetime }}" }}
            {% elseif field in ['id'] %}
                {{ "{{ entity." ~ field ~ "|type_id }}" }}
            {% elseif metadata.type in ['boolean'] %}
                {{ "{{ entity." ~ field ~ "|type_boolean }}" }}
            {% elseif metadata.type in ['array'] %}
                {{ "{{ entity." ~ field ~ "|type_array }}" }}
            {% else %}
                {{- "{{ entity." ~ field ~ " }}" -}}
            {% endif %}
        {% endspaceless %}</td>
    </tr>
{% endfor %}
{{ "{% endblock %}" }}
